<div *ngFor="let message of messages">
	<div *ngIf="receiver != null"
		[class.receiver]="message.toId === receiver.id"
		[class.sender]="message.fromId === receiver.id">
		{{message.text}}</div>
</div>
<form [formGroup]="messageForm" novalidate>
	<mat-form-field class="message-input">
		<div class="myInput">
			<textarea matInput placeholder="Your Message" formControlName="message"></textarea>
			<div class="send-icon" (click)="sendMessage()">
				<i class="material-icons">send</i>
			</div>
		</div>
	</mat-form-field>
</form>