<div class="container" [ngStyle]="{ 'height.px': gamesService.windowHeight }">
  <div i18n="@@bingoHeading">Lets play Bingo</div>
  <div *ngIf="gameUuid" i18n="@@bingoNewNumber">New Number:</div>
  <div *ngIf="!gameUuid">
    <button mat-raised-button color="primary" (click)="startGame()" i18n="@@bingoStart">
      Start
    </button>
  </div>
  <div>{{ bingoNumber }}</div>
  <div *ngIf="bingoResult" class="game-won">Won</div>
  <div *ngIf="!bingoResult"><button mat-raised-button color="primary" (click)="stopGame()" i18n="@@bingoStop">
      Stop
    </button></div>
  <div></div>
  <div
    *ngFor="let bingoCell of bingoCells"
    class="bingo-cell"
    [class.bingo-cell-selected]="bingoCell.hit"
    (click)="switchBingoCell(bingoCell)"
  >
    {{ bingoCell.value }}
  </div>
</div>
