<div>
	<div>
		<span i18n>Send Image to: </span>{{data.receiver.name}}
	</div>
	<div *ngIf="showCameraMsg" i18n>Please enable your camera in the browser.</div>
	<video class="video" [class.hide]="!showVideo" #videoElement autoplay></video>
	<canvas class="video" [class.hide]="showVideo" #canvasElement></canvas>
	<button mat-button (click)="preview()" i18n>Preview</button>
	<button mat-button (click)="capture()" [disabled]="!showVideo" i18n>Capture</button>
	<button mat-button (click)="send()" [disabled]="!base64Img" i18n>Send</button>
	<button mat-button (click)="cancel()" i18n>Cancel</button>
</div>
