@use '@angular/material' as mat;

$called-palette: mat.$blue-palette;

$caller-palette: mat.$lime-palette;

.video-container {
	display: flex;
	align-items: flex-start;	
}

.called {
	flex: 1 0 auto;
	position: relative;	
}

.called:after {
	content: "";
    display: block;
    padding-bottom: 100%;
}
.called-content {	
	display:flex;
	flex-direction: column;
	align-items: stretch;
	height: 100%;
	//@debug mat.get-color-from-palette($called-palette, 50);	
	background-color: mat.get-color-from-palette($called-palette, 50);
}

.local {
	flex: 0 0 auto;
	height: fit-content;
	width:  200px;
	background-color: mat.get-color-from-palette($caller-palette, 100);
}

.video-button {
	//margin: 5px 0 5px 5px;
	margin-left: 5px;
	flex: 1 1 auto;
}

.call-video {
	margin: auto;
}

.local-video {
 	height: 150px;
 	width: 200px;
}