<div>
	<div class="video-container">
		<div class="called">
			<div class="called-content">
				<div>Called</div>
				<video #remote_video [autoplay]="true" [muted]="remoteMuted" class="call-video"></video>
				<div>
					<button mat-button class="video-button"
						*ngIf="!inCall"
						(click)="call()"
						i18n="@@voiceCall">Call</button>					
					<button mat-button class="video-button"
						*ngIf="inCall"
						(click)="hangup()"
						i18n="@@voiceHangup">Hangup</button>
					<button mat-button class="video-button"
						*ngIf="!remoteMuted"
						(click)="remoteMuted = true"
						i18n="@@voiceMute">Mute</button>
					<button mat-button class="video-button"
						*ngIf="remoteMuted"
						(click)="remoteMuted = false"
						i18n="@@voiceUnmute">Unmute</button>
				</div>
			</div>
		</div>
		<div class="local">
			<div>Caller</div>
			<video #local_video [autoplay]="true" [muted]="localMuted" class="local-video"></video>
			<div>
				<button mat-button class="video-button"
					*ngIf="!localVideoActivated" (click)="startLocalVideo()"
					i18n="@@voiceActivateCallerVideo">Activate</button>
				<button mat-button class="video-button" *ngIf="localVideoActivated"
					(click)="stopLocalVideo()"
					i18n="@@voiceDeactivateCallerVideo">Deactivate</button>
				<button mat-button class="video-button"
						*ngIf="!localMuted"
						(click)="localMuted = true"
						i18n="@@voiceMute">Mute</button>
				<button mat-button class="video-button"
						*ngIf="localMuted"
						(click)="localMuted = false"
						i18n="@@voiceUnmute">Unmute</button>
			</div>
		</div>
	</div>
</div>