<div>
  <div class="video-container">
    <div class="called">
      <div class="called-content">
        <div class="portrait-orientation" i18n="@@voiceLandscapeNotSupported">
          Landscape orientation not supported on small devices.
        </div>
        <div class="landscape-orientation" i18n="@@voiceRemote">Remote</div>
        <video
          #remote_video
          [autoplay]="true"
          [muted]="remoteMuted"
          class="call-video landscape-orientation"
        ></video>
        <div class="landscape-orientation">
          @if (!inCall) {
            <button
              mat-button
              class="video-button"
              [disabled]="!receiver && !onLocalhost"
              (click)="call()"
              i18n="@@voiceCall"
              >
            Call
          </button>
          }
          @if (inCall) {
            <button
              mat-button
              class="video-button"
              [disabled]="!receiver && !onLocalhost"
              (click)="hangUp()"
              i18n="@@voiceHangup"
              >
            Hangup
          </button>
          }
          @if (!remoteMuted) {
            <button
              mat-button
              class="video-button"
              [disabled]="!receiver && !onLocalhost"
              (click)="remoteMuted = true"
              i18n="@@voiceMute"
              >
            Mute
          </button>
          }
          @if (remoteMuted) {
            <button
              mat-button
              class="video-button"
              [disabled]="!receiver && !onLocalhost"
              (click)="remoteMuted = false"
              i18n="@@voiceUnmute"
              >
            Unmute
          </button>
          }
        </div>
      </div>
    </div>
    <div class="local">
      <div class="landscape-orientation" i18n="@@voiceLocal">Local</div>
      <video
        #local_video
        [autoplay]="true"
        [muted]="localMuted"
        class="local-video landscape-orientation"
      ></video>
      <div class="landscape-orientation">
        @if (!localVideoActivated) {
          <button
            mat-button
            class="video-button"
            (click)="startLocalVideo()"
            i18n="@@voiceActivateCallerVideo"
            >
          Activate
        </button>
        }
        @if (localVideoActivated) {
          <button
            mat-button
            class="video-button"
            (click)="stopLocalVideo()"
            i18n="@@voiceDeactivateCallerVideo"
            >
          Deactivate
        </button>
        }
        @if (!localMuted) {
          <button
            mat-button
            class="video-button"
            (click)="localMuted = true"
            i18n="@@voiceMute"
            >
          Mute
        </button>
        }
        @if (localMuted) {
          <button
            mat-button
            class="video-button"
            (click)="localMuted = false"
            i18n="@@voiceUnmute"
            >
          Unmute
        </button>
        }
      </div>
    </div>
  </div>
</div>
