<div>
	<div class="video-container">
		<div class="called">
			<div class="called-content">
				<div>Called</div>
				<video #remote_video [autoplay]="true" [muted]="remoteMuted" class="call-video"></video>
				<div>
					<button mat-button class="video-button"
						*ngIf="!remoteVideoActivated"
						(click)="remoteVideoActivated = true"
						i18n="@@voiceActivateCalledVideo">Activate</button>					
					<button mat-button class="video-button"
						*ngIf="remoteVideoActivated"
						(click)="remoteVideoActivated = false"
						i18n="@@voiceDeactivateCalledVideo">Deactivate</button>
				</div>
			</div>
		</div>
		<div class="local">
			<div>Caller</div>
			<video #local_video [autoplay]="true" [muted]="localMuted" class="local-video"></video>
			<div>
				<button mat-button class="video-button"
					*ngIf="!localVideoActivated" (click)="startLocalVideo()"
					i18n="@@voiceActivateCallerVideo">Activate</button>
				<button mat-button class="video-button" *ngIf="localVideoActivated"
					(click)="stopLocalVideo()"
					i18n="@@voiceDeactivateCallerVideo">Deactivate</button>
			</div>
		</div>
	</div>
</div>