.receiver {
  text-align: right;
  background-color: #ddddff;
  border-radius: 10px;
  padding: 0 8px;
}
.sender {
  text-align: left;
  background-color: #ccffcc;
  border-radius: 10px;
  padding: 0 8px;
}
.message-input {
  width: 100%;
  overflow-x: hidden;
}
.myInput {
  display: flex;
  align-items: center;
}
.send-icon {
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.spinner {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
	background-color: #ffff00;
	border-radius: 20px;
}