<mat-toolbar color="primary">
	<span i18n="@@mainMessenger">Messenger</span>
	<span class="example-fill-remaining-space"></span>	
	<span *ngIf="myUser !== null && selFeature === myFeature.chat" class="icon" (click)="switchContent()"><span class="icon-container material-icons">phone</span></span>
	<span *ngIf="myUser !== null && selFeature === myFeature.phone" class="icon" (click)="switchContent()"><span class="icon-container material-icons">chat_bubble_outline</span></span>
	<span *ngIf="myUser !== null" class="icon" (click)="openFileuploadDialog()"><span class="icon-container material-icons">attachment_alt</span></span>
	<span *ngIf="myUser !== null" class="icon" (click)="openCameraDialog()"><span class="material-icons">camera_alt</span></span>
	<span *ngIf="myUser !== null"><app-add-contacts [userId]="myUser.userId" [myContacts]="contacts" (addNewContact)="addNewContact($event)"></app-add-contacts></span>
	<span *ngIf="myUser === null"><button mat-button (click)="openLoginDialog()" i18n="@@mainLogin">Login</button></span>		
	<span *ngIf="myUser !== null"><button mat-button (click)="logout()" i18n="@@mainLogout">Logout</button></span>
</mat-toolbar>
<mat-sidenav-container class="container" [ngStyle]="{'height.px': windowHeight}">
  <mat-sidenav opened mode="side" class="contact-list">
  	<app-contacts [selectedContact]="selectedContact" [contacts]="contacts" (selContact)="selectContact($event)"></app-contacts>
  </mat-sidenav>
  <mat-sidenav-content opened mode="side">
  	<app-messages *ngIf="selFeature === myFeature.chat" [messages]="messages" [receiver]="selectedContact" (sendMsg)="sendMessage($event)"></app-messages>
  	<app-voice *ngIf="selFeature === myFeature.phone" [sender]="ownContact" [receiver]="selectedContact"></app-voice>
  </mat-sidenav-content>
</mat-sidenav-container>