.icon {
	display: flex;
	align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
    cursor: pointer;
}

.container {		
}

.contact-list {
	width: 300px;
	overflow-x: hidden;
	overflow-y: auto;	
}

.popup {
	display: none;
}

.cell:hover {
	.popup {		
		display: block;		    
    	width: 160px;
    	margin-top: 0px;
    	margin-left: 100px;
    	background: #FFFFFF;    				  	
    	border-radius: 6px;
    	padding: 8px 0;
    	position: absolute;
    	z-index: 1;       
		color: blue;
		border: solid 1px black;		
	}
	color: blue;
	cursor: pointer;
}

.example-container {
  display: flex;
  flex-direction: column; 
}

.mat-table {
  overflow: auto;  
}

.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}