<mat-toolbar color="primary" class="custom-toolbar">
<div class="toolbar-content">
	<div i18n="@@mainMessenger">Messenger</div>
	<div class="example-fill-remaining-space"></div>
	<div class="icon-bar" *ngIf="myUser !== null">	
	   <div *ngIf="contactListMode === 'over'" class="icon" (click)="contactList.toggle()"><span class="icon-container material-icons">group</span></div>
	   <div *ngIf="selFeature === myFeature.chat" class="icon" (click)="switchContent()"><span class="icon-container material-icons">phone</span></div>
	   <div *ngIf="selFeature === myFeature.phone" class="icon" (click)="switchContent()"><span class="icon-container material-icons">chat_bubble_outline</span></div>
	   <div class="icon" (click)="openFileuploadDialog()"><span class="icon-container material-icons">attachment_alt</span></div>
	   <div class="icon" (click)="openCameraDialog()"><span class="material-icons">camera_alt</span></div>
	</div>
	<div class="people-button" *ngIf="myUser !== null">
	   <app-add-contacts [userId]="myUser.userId" [myContacts]="contacts" (addNewContact)="addNewContact($event)"></app-add-contacts>
	</div>
	<div class="people-button">
	   <div *ngIf="myUser === null" class="login-logout"><button mat-flat-button color="primary" (click)="openLoginDialog()" i18n="@@mainLogin">Login</button></div>		
	   <div *ngIf="myUser !== null" class="login-logout"><button mat-flat-button color="primary" (click)="logout()" i18n="@@mainLogout">Logout</button></div>
	</div>
	</div>
</mat-toolbar>
<mat-sidenav-container class="container" [ngStyle]="{'height.px': windowHeight}">
  <mat-sidenav #contact_list [mode]="contactListMode" class="contact-list">
  	<app-contacts [selectedContact]="selectedContact" [contacts]="contacts" (selContact)="selectContact($event)"></app-contacts>
  </mat-sidenav>
  <mat-sidenav-content class="mat-drawer-container">
    <div class="login-message-container mat-headline-5" *ngIf="myUser === null" i18n="@@mainLoginMessage"><div class="login-message">Please Login</div></div>
  	<app-messages *ngIf="myUser !== null && selFeature === myFeature.chat" [messages]="messages" [receiver]="selectedContact" (sendMsg)="sendMessage($event)"></app-messages>
  	<app-voice *ngIf="myUser !== null && selFeature === myFeature.phone" [sender]="ownContact" [receiver]="selectedContact"></app-voice>
  </mat-sidenav-content>
</mat-sidenav-container>