<mat-toolbar color="primary">
	<span i18n>Messenger</span>
	<span class="example-fill-remaining-space"></span>
	<span><button mat-button *ngIf="myUser === null" (click)="openLoginDialog()" i18n>Login</button></span>		
	<span><button mat-button *ngIf="myUser !== null" (click)="logout()" i18n>Logout</button></span>
</mat-toolbar>
<mat-sidenav-container class="container" [ngStyle]="{'height.px': windowHeight}">
  <mat-sidenav opened mode="side" class="contact-list">
  	<app-contacts [contacts]="contacts" (selContact)="selectContact($event)"></app-contacts>
  </mat-sidenav>
  <mat-sidenav-content opened mode="side">
  	<app-messages [messages]="messages" [receiver]="myContact" (sendMsg)="sendMessage($event)"></app-messages>
  </mat-sidenav-content>
</mat-sidenav-container>
