<mat-toolbar color="primary">
	<span i18n="@@mainMessenger">Messenger</span>
	<span class="example-fill-remaining-space"></span>	
	<span *ngIf="myUser !== null" class="icon" (click)="openFileuploadDialog()"><i class="material-icons">attachment_alt</i></span>
	<span *ngIf="myUser !== null" class="icon" (click)="openCameraDialog()"><i class="material-icons">camera_alt</i></span>
	<span *ngIf="myUser !== null"><app-add-contacts [userId]="myUser.userId" [myContacts]="contacts" (addNewContact)="addNewContact($event)"></app-add-contacts></span>
	<span *ngIf="myUser === null"><button mat-button (click)="openLoginDialog()" i18n="@@mainLogin">Login</button></span>		
	<span *ngIf="myUser !== null"><button mat-button (click)="logout()" i18n="@@mainLogout">Logout</button></span>
</mat-toolbar>
<mat-sidenav-container class="container" [ngStyle]="{'height.px': windowHeight}">
  <mat-sidenav opened mode="side" class="contact-list">
  	<app-contacts [selectedContact]="selectedContact" [contacts]="contacts" (selContact)="selectContact($event)"></app-contacts>
  </mat-sidenav>
  <mat-sidenav-content opened mode="side">
  	<app-messages [messages]="messages" [receiver]="selectedContact" (sendMsg)="sendMessage($event)"></app-messages>
  </mat-sidenav-content>
</mat-sidenav-container>