<div class="container">
	<div class="spinner" *ngIf="contactsLoading">
	  <mat-progress-spinner diameter="50" color="accent" mode="indeterminate"></mat-progress-spinner>
	</div>
	  <mat-form-field class="input-style">
	    <input type="text" placeholder="name" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" (keyup.enter)="addContact()">
	    <mat-autocomplete #auto="matAutocomplete">
	      <mat-option *ngFor="let option of filteredOptions" [value]="option.name" (click)="addContact()">
	        {{option.name}}
	      </mat-option>
	    </mat-autocomplete>
	  </mat-form-field>
</div>