<div class="container">
	<div class="spinner" *ngIf="contactsLoading">
	  <mat-progress-spinner diameter="50" color="accent" mode="indeterminate"></mat-progress-spinner>
	</div>
	<div>	  
	  <mat-form-field class="input-style">
	    <input type="text" placeholder="name" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
	    <mat-autocomplete #auto="matAutocomplete">
	      <mat-option *ngFor="let option of filteredOptions" [value]="option.name">
	        {{option.name}}
	      </mat-option>
	    </mat-autocomplete>
	  </mat-form-field>
	</div>
	<div>
	  <button mat-button (click)="addContact()" [disabled]="filteredOptions.length !== 1" i18n>Add</button>
	</div>
</div>